{% extends 'error.twig' %}

{% block title %} {{ code|e }} {% endblock %}

{% block filter %}
{% endblock %}

{% block content %}
	<div class="alert alert-danger">
		Oops, czy na pewno o to Ci chodziło?
	</div>
{% endblock %}