{% extends 'base.twig' %}

{% block title %}Baza Korepetycji - Logowanie{% endblock %}

{% block content %}
    <form action="{{ path('auth_login_check') }}" method="post" class="form center-block">
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
        <button class="btn btn-primary">{{ 'Sign in'|trans }}</button>
    </form>
{% endblock %}

